<mat-toolbar color="primary" class="toolbar-custom on-top" style="background-color: #22396B">

  <!-- Brand -->
  <img src="../../../../assets/images/logo_GreatBuild.png" alt="Logo GreatBuild" class="app-logo" />
  <h1>
    GreatBuild
  </h1>
  <nav class="nav-buttons desktop-only">
    <a (click)="scrollTo('about-us')" class="nav-link">{{ 'topic.about-us' | translate }}</a>
    <a (click)="scrollTo('overview')" class="nav-link">{{ 'topic.overviews' | translate }}</a>
    <a (click)="scrollTo('plans')" class="nav-link">{{'topic.plans' | translate}}</a>
    <a (click)="scrollTo('testimonials')" class="nav-link">{{ 'topic.testimonials' | translate }}</a>
  </nav>



  <span class="spacer"></span>

  <app-language-switcher></app-language-switcher>

  <button mat-icon-button class="mobile-only" (click)="menuOpen = !menuOpen">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>

@if (menuOpen) {
  <nav class="nav-buttons mobile-menu mobile-only">
    <a (click)="scrollTo('about-us')" class="nav-link">{{ 'topic.about-us' | translate }}</a>
    <a (click)="scrollTo('overview')" class="nav-link">{{ 'topic.overviews' | translate }}</a>
    <a (click)="scrollTo('product')" class="nav-link">{{ 'topic.about-the-product' | translate }}</a>
    <a (click)="scrollTo('testimonials')" class="nav-link">{{ 'topic.testimonials' | translate }}</a>
  </nav>
}
