<app-toolbar-content></app-toolbar-content>

<section id="hero">
  <app-hero-section [userType]="userType"></app-hero-section>
</section>

<section id="about-us">
  <app-about-us></app-about-us>
</section>

<section id="overview">
  <app-overview [userType]="userType"></app-overview>
</section>

<section id="plans">
  <app-plans></app-plans>
</section>

<section id="testimonials">
  <app-testimonials></app-testimonials>
</section>

<section id="footer">
  <app-footer-content></app-footer-content>
</section>
